<div class="new-newborn">
	<%= form_for(@newborn) do |n|%>
<% @newborn.errors.full_messages.each do |m|%>
	<div><%= m %></div>
	
<%end%>


	<div class="form-group">
			<div class="input-group">
		  		<span class="input-group-addon" id="basic-addon1">Nombre</span>
		  		<%= n.text_field :first_name , placeholder: "" , class:"form-control"%>
			</div>
		</div>	

		<div class="form-group">
			<div class="input-group">
		  		<span class="input-group-addon" id="basic-addon1">Apellido</span>
		  		<%= n.text_field :last_name , placeholder: "" , class:"form-control"%>
			</div>
		</div>

	<div class="form-group">
			<div class="input-group">
		  		<span class="input-group-addon" id="basic-addon1">Genero</span>
		  		<%= n.text_field :gender , class:"form-control"%>
			</div>
		</div>
			
	  	
	  	<div class="form-group">
            <div class="input-group date">
            <span class="input-group-addon" id="basic-addon1">Nacimiento</span>
 			 <%= n.text_field :birthdate  , class:"form-control white"%><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
			</div>
    	 </div>

    	 <div class="form-group">
			<div class="input-group">
		  		<span class="input-group-addon" id="basic-addon1">Foto</span>
		  		<%= n.text_field :photo , class:"form-control"%>
			</div>
		</div>
		<p>NOTA: Ya se que faltan datos :(</p>
</div>

<div class="new-newborn" style="margin-bottom: 10%;">
<div class="image-upload">modulo para subir imagen</div>
	<%= n.submit "Guardar", class:"btn" %>
</div>
<%end%>
<script>
	$(function(){
		$('.input-group.date').datepicker({
    format: "dd/mm/yyyy",
    startView: 2,
    clearBtn: true,
    language: "es",
    orientation: "top left",
    keyboardNavigation: false,
    forceParse: false,
    autoclose: true,
    defaultViewDate: { year: 2015, month: 04, day: 25 }
});
	});
</script>